extends layout
block content
 h1= title
 - let Rabbitid = toShow._id
 - let RabbitName = toShow.Name
 - let RabbitCost = toShow.Cost
 - let RabbitWeight = toShow.Weight
 div.row(class='mb-2')
   div.mr-1 ID is
   div #{Rabbitid}
 - let actionid = "/resource/resource/Rabbits/" + Rabbitid
 form(id='RabbitForm', action= actionid, method="PUT")
  div.form-group
   label.RabbitAttr(for='Name') Rabbit Name 
   input#Rabbit_type(type='text', name='Name', value= RabbitName )
  div.form-group
    label.RabbitAttr(for='Cost') Rabbit Cost
    input#size(type='text', name='Cost', value= RabbitCost )
  div.form-group
    label.RabbitAttr(for='Weight') Rabbit Weight
    input#cost(type='number', name='Weight', value= RabbitWeight )
    input(type="submit")
 script.
  document.forms['RabbitForm'].addEventListener('submit', (event) => {
   event.preventDefault();
   // TODO do something here to show user that form is being submitted
   fetch(event.target.action, {
   method: 'PUT',
   body: new URLSearchParams(new FormData(event.target)) // event.target is the form
   }).then((resp) => {
   return resp.json(); // or resp.text() or whatever the server sends
   }).then((body) => {
   alert("Update succeded")
   // TODO handle body
   }).catch((error) => {
   // TODO handle error
   alert("Update failed " + error )
   });
  });